<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Book Community 메인페이지</title>

	<!-- templates/common/common.html 조각으로 추가 -->
	<th:block th:replace="~{common/common}"></th:block>
</head>



<body>
	<!-- common/header.html 을 조각으로 추가 -->
	<th:block th:replace="~{common/header}"></th:block>
	<main>

		<!-- 메인 페이지 내용  -->
		<div class="container">

			<div class="layout">

				
				
	

				 <!-- 내 정보 수정 페이지로 이동할 수 있는 링크 -->
				 <a href="/myPage/info" class="btn btn-primary">내 정보 수정</a>




			</div>

	

			<!-- 원하는 섹션 추가 -->
		</div>

	</main>

	<!-- common/footer 추가-->
	<th:block th:replace="~{common/footer}"></th:block>

	<!-- script 추가-->
	<script src="/js/main.js"></script>

</body>

</html>