table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

thead {
  background-color: #f2f2f2;
}

th {
  background-color: #4f46e5;
  color: #fff;
}

#searchBtn {
	background-color: #4f46e5;
	color: #fff;
	width: 77.74px;
}

#searchInput {
	width: 673px;
}