<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>내 정보</title>

  <!-- 공용 css/js 추가 -->
  <th:block th:replace="~{common/common}"></th:block>

  <link rel="stylesheet" href="/css/myPage/myPage-changePw.css">
</head>

<body>

  <body>
    <div class="wrapper">
      <!-- 헤더 추가 -->
      <th:block th:replace="~{common/header}"></th:block>

      <!-- 사이드 추가 -->
      <th:block th:replace="~{sideMenu/sideMenu-myPage}"></th:block>

      <main class="main-content">
        <!--제목-->
        <section class="ranking-header">
          <h1 class="ranking-title">
            <i class="fas fa-crown me-2" style="color: #FFD700;"></i>
            비밀번호 변경
          </h1>
        </section>


        <!--부제목-->
        <div class="genre-section">
          <div class="genre-header">

            <span class="myPage-subject">
              비밀번호 변경
            </span>

            <!-- action : 상대 경로가 작성되어 있음
              현재 주소 : /myPage/changePw
              목표 주소 : /myPage/changePw (POST)
          -->

            <form action="changePw" method="POST" name="myPageFrm" id="changePw">

              <div class="myPage-row">
                <label>현재 비밀번호</label>
                <input type="password" name="currentPw" id="currentPw" maxlength="30">
              </div>

              <div class="myPage-row">
                <label>새 비밀번호</label>
                <input type="password" name="newPw" id="newPw" maxlength="30">

                
              </div>

              <div class="myPage-row">
                <label>새 비밀번호 확인</label>
                <input type="password" name="newPwConfirm" id="newPwConfirm" maxlength="30">
              </div>

              <button class="myPage-submit">변경하기</button>

            </form>
          </div>
        </div>


      </main>

      <!-- 푸터 추가-->
      <th:block th:replace="~{common/footer}"></th:block>

    </div>



    <script src="/js/myPage/myPage-changePw.js"></script>
  </body>

</html>