<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시판 목록</title>

  <link rel="stylesheet" href="/css/myPage/myPage-boardList.css">

  <!-- 공용 css/js 추가 -->
  <th:block th:replace="~{common/common}"></th:block>

</head>

<body>
  <div class="wrapper">
    <!-- 헤더 추가 -->
    <th:block th:replace="~{common/header}"></th:block>

    <!-- 사이드 추가 -->
    <th:block th:replace="~{sideMenu/sideMenu-myPage}"></th:block>

    <main class="main-content">

      <section class="ranking-header">
        <h1 class="ranking-title">
          <i class="fas fa-crown me-2" style="color: #FFD700;"></i>
          내가 작성한 게시글 목록
        </h1>
      </section>

      <section class="genre-section">
        <form th:action="@{/myPage/boardList}" method="get" id="boardSearch">
          <div class="search-section">
            <div class="search-wrapper">

              <div class="input-group flex-grow-1">
                <select class="form-select" name="searchType" style="border-radius: 8px;" th:value="${searchType}">
                  <option th:value="title" th:selected="${searchType == 'title'}">제목</option>
                  <option th:value="content" th:selected="${searchType == 'content'}">내용</option>
                </select>
                <input type="text" class="form-control" name="searchInput" placeholder="검색어를 입력하세요"
                  style="border-radius: 8px;" th:value="${searchInput}">
              </div>



              <button class="search-button">
                <i class="fas fa-search"></i>검색
              </button>

            </div>
          </div>
        </form>
      </section>

      <section class="genre-section">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th style="width: 10%;">
                  구분
                  <span class="sort-icon">
                    <i class="fas fa-sort"></i>
                  </span>
                </th>

                <th style="width: 40%;">
                  제목
                  <span class="sort-icon">
                    <i class="fas fa-sort"></i>
                  </span>
                </th>

                <th style="width: 27.5%;">
                  작성자
                  <span class="sort-icon">
                    <i class="fas fa-sort"></i>
                  </span>
                </th>

                <th style="width: 22.5%;">
                  작성일
                  <span class="sort-icon">
                    <i class="fas fa-sort"></i>
                  </span>
                </th>


              </tr>
            </thead>
            <tbody id="boardList">
              <th:block th:if="${#lists.isEmpty(boardList)}">
                <tr>
                  <td colspan="4" style="text-align: center;">게시글이 존재하지 않습니다.</td>
                </tr>
              </th:block>

              <!-- 게시글 목록이 있을 때 -->
              <th:block th:unless="${#lists.isEmpty(boardList)}">
                <tr th:each="board : ${boardList}">
                  <!-- 게시글 구분 -->
                  <td>
                    <span th:switch="${board.boardCode}">
                      <span th:case="1" class="board-label board-label-1">자유</span>
                      <span th:case="2" class="board-label board-label-2">추천</span>
                      <span th:case="3" class="board-label board-label-3">공지</span>
                      <span th:case="4" class="board-label board-label-4">문의</span>
                      <span th:case="*" class="board-label">알 수 없음</span> <!-- 기본 값 -->
                    </span>
                  </td>

                  <!-- 게시글 제목 -->
                  <td>
                    <div class="board-title" th:data-full-text="${board.boardTitle}"
                      onmousemove="showTooltip(event, this)">
                      <a th:href="@{/myPage/boardDetail(boardNo=${board.boardNo})}" th:text="${board.boardTitle}">게시글 제목</a>
                    </div>
                  </td>

                  <!-- 작성자 -->
                  <td th:text="${board.memberNickname}">작성자</td>

                  <!-- 작성일 -->
                  <td th:text="${board.boardUpdateDate}">작성일</td>
                </tr>
              </th:block>
            </tbody>
          </table>

          <!--페이지 네이션-->
          <nav aria-label="Page navigation">
            <ul class="pagination">
                <!-- 첫 페이지로 이동 -->
                <li class="page-item" th:classappend="${pagination.currentPage <= 1 || pagination.startPage == 1} ? 'disabled'">
                    <a class="page-link py-1 px-2"
                       th:href="${pagination.currentPage <= 1 || pagination.startPage == 1} 
                                ? '#' 
                                : @{/myPage/boardList(cp=1, searchType=${searchType}, searchInput=${searchInput})}"
                       th:aria-disabled="${pagination.currentPage <= 1 || pagination.startPage == 1}">&lt;&lt;</a>
                </li>

                <!-- 이전 페이지로 이동 -->
                <li class="page-item" th:classappend="${pagination.currentPage <= 1 || pagination.startPage == 1} ? 'disabled'">
                    <a class="page-link py-1 px-2"
                       th:href="${pagination.currentPage <= 1 || pagination.startPage == 1} 
                                ? '#' 
                                : @{/myPage/boardList(cp=${pagination.prevPage}, searchType=${searchType}, searchInput=${searchInput})}"
                       th:aria-disabled="${pagination.currentPage <= 1 || pagination.startPage == 1}">이전</a>
                </li>

            <!-- 페이지 번호 -->
            <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}"
                       th:if="${pagination.startPage > 0 and pagination.endPage > 0}">
                <li class="page-item" th:classappend="${i == pagination.currentPage} ? 'active'">
                    <a class="page-link py-1 px-2"
                       th:href="${i == pagination.currentPage} 
                                ? '#' 
                                : @{/myPage/boardList(cp=${i}, searchType=${searchType}, searchInput=${searchInput})}"
                       th:text="${i}"
                       th:aria-current="${i == pagination.currentPage} ? 'page'">현재페이지</a>
                </li>
            </th:block>

                <!-- 다음 페이지로 이동 -->
                <li class="page-item" th:classappend="${pagination.currentPage >= pagination.maxPage || pagination.endPage == pagination.maxPage} ? 'disabled'">
                    <a class="page-link py-1 px-2"
                       th:href="${pagination.currentPage >= pagination.maxPage || pagination.endPage == pagination.maxPage} 
                                ? '#' 
                                : @{/myPage/boardList(cp=${pagination.nextPage}, searchType=${searchType}, searchInput=${searchInput})}"
                       th:aria-disabled="${pagination.currentPage >= pagination.maxPage || pagination.endPage == pagination.maxPage}">다음</a>
                </li>

                <!-- 마지막 페이지로 이동 -->
                <li class="page-item" th:classappend="${pagination.currentPage >= pagination.maxPage || pagination.endPage == pagination.maxPage} ? 'disabled'">
                    <a class="page-link py-1 px-2"
                       th:href="${pagination.currentPage >= pagination.maxPage || pagination.endPage == pagination.maxPage} 
                                ? '#' 
                                : @{/myPage/boardList(cp=${pagination.maxPage}, searchType=${searchType}, searchInput=${searchInput})}"
                       th:aria-disabled="${pagination.currentPage >= pagination.maxPage || pagination.endPage == pagination.maxPage}">&gt;&gt;</a>
                </li>
            </ul>
        </nav>
        


        </div>
      </section>



    </main>

    <!-- 푸터 추가-->
    <th:block th:replace="~{common/footer}"></th:block>

  </div>

  <!-- js 추가 -->
  <script src="/js/myPage/myPage-boardList.js"></script>
</body>

</html>