<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>내 정보</title>

  <!-- 공용 css/js 추가 -->
  <th:block th:replace="~{common/common}"></th:block>

  <!-- myPage 전용 CSS -->
  <link rel="stylesheet" href="/css/myPage/myPage-style.css">
</head>

<body>
  <!-- 헤더 추가 -->
  <th:block th:replace="~{common/header}"></th:block>
  
  <!-- 사이드 추가 -->
  <th:block th:replace="~{common/sideMenu}"></th:block>
  <main>



    <div class="myPage-content">

      <!-- 마이페이지 본문(오른쪽) -->
      <div class="container">
        <div class="layout">

          

        </div>
       


      </div>

    </div>

  </main>

  <!-- 푸터 추가 -->
  <th:block th:replace="~{common/footer}"></th:block>


  <!-- 다음 주소 API 추가 -->
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

  <!-- js 추가 -->
  <script src="/js/myPage/myPage.js"></script>

</body>

</html>