<!-- 왼쪽 사이드 메뉴 조각(fragment) 
  -> 필요한 곳에서
   th:replace="~{조각경로}" / th:insert="~{조각경로}" 
-->
<aside class="sidebar">
	<nav class="sidebar-nav">
		<div class="nav-item">
			<a href="/board/community/3" class="nav-link">공지사항</a>
		</div>

		<div class="nav-item">
			<a href="/board/community/1" class="nav-link">자유 게시판</a>
		</div>

		<div class="nav-item">
			<a href="/board/recommend" class="nav-link">추천 게시판</a>
		</div>
		
		<div class="nav-item">
			<a href="/board/community/4" class="nav-link">문의 게시판</a>
		</div>

	</nav>
</aside>